
  




<div  class="tabs is-centered">
    <ul>
      <li class="is-active">
        <a routerLink="/home" routerLinkActive="active" style="color: white;">
          <span class="icon is-small"><i class="fas fa-image" aria-hidden="true"></i></span>
          <span >All songs</span>
        </a>
      </li>
      <li>
        <a routerLink="/lists" routerLinkActive="active" style="color: white;">
          <span class="icon is-small"><i class="fas fa-music" aria-hidden="true"></i></span>
          <span>Playlists</span>
        </a>
      </li>
      
    </ul>
  </div>



<router-outlet></router-outlet>
